<a href="https://colab.research.google.com/github/Arthurfrei/estudos-programacao/blob/main/Aula_tipos_de_listas_%26_la%C3%A7os.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Listas são estruturas de dados formadas por elementos
num = [5, 7, 2, 9, 15]
num

[5, 7, 2, 9, 15]

In [8]:
#Tamanho da lista
len(num)

5

In [31]:
#Lista de outros tipos
alunos = ['Pedro', 'Maria', 'João', 'Ana', 'Carla']

In [21]:
#Alterar os valores de itens de lista
alunos[3] = 'Cezar'

In [45]:
alunos

['Pedro',
 'Maria',
 'João',
 'Ana',
 'Carla',
 'Alex',
 'Marco',
 'José',
 'Arthur',
 '',
 'Luiz']

In [33]:
#Inserir valoresna lista .append()
alunos.append('Alex')

In [43]:
alunos.append(input('Digite o nome '))

Digite o nome Luiz

In [44]:
#Descobrir se há um valor determinado na lista, exibir sua posição
if 'Luiz' in alunos:
  print('Tem Luiz SIIM')
else:
  print('Tem Luiz nãaaao')

Tem Luiz SIIM

In [47]:
nome = input('Digite o nome: ')
if nome in alunos:
  print('Tem')
else:
  print('Não tem')

Digite o nome: Carlos
Não tem

In [ ]:
#Deletar um item especifico

In [9]:
#Criar uma lista com números de 1 a 15
numeros = []
for num in range(15):
  numeros.append(num)

In [7]:
numeros

[]

In [6]:
dobro = []
for num in numeros:
  dobro.append(numeros[num]*2)
dobro

[]

In [58]:
#Descobrir se um número é par
a = 3
if a%2 == 0:
  print('É par')
else:
  print('É impar')

É impar

In [10]:
for num in numeros:
 if numeros[num]%2 == 0:
   print(numeros[num])

0
2
4
6
8
10
12
14