<a href="https://colab.research.google.com/github/Arthurfrei/estudos-programacao/blob/main/tupla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tp_frutas = ('maçã', 'banana', 'laranja', 'goiaba')
tp_frutas

('maçã', 'banana', 'laranja', 'goiaba')

In [2]:
#Criando uma lista a partir de uma tupla ou uma tupla a partir de uma lista
lst_frutas = list(tp_frutas)
type(lst_frutas)
lst_frutas

['maçã', 'banana', 'laranja', 'goiaba']

In [4]:
lst_frutas = list(tp_frutas)
type(lst_frutas)
tp_frutas2 = tuple(lst_frutas)
tp_frutas2

('maçã', 'banana', 'laranja', 'goiaba')

In [6]:
#Fatiamento (Slicing)
tp_meses = ('jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez')
# se quiser apenas os meses de Abril a Junho
tp_meses[3:6]

('abr', 'mai', 'jun')

In [8]:
#Ordenação de dados *sort(value, key = x)
#Ordenar os estados pelo DDD e não pelo nome 
uf_cod = [('PE', 81), ('RJ', 21), ('SP', 11), ('PB', 83)]

sorted(uf_cod, key = lambda x : x[1])

[('SP', 11), ('RJ', 21), ('PE', 81), ('PB', 83)]

In [10]:
#Colocar a tupla a seguir em ordem 
#do mais novo para o mais velho
#do mais velho para o mais novo
nome_nasc = [('Zé', 2003), ('Maria', 1998), ('Alice', 2000)]
sorted(nome_nasc, key = lambda x: x[1], reverse = True)

[('Zé', 2003), ('Alice', 2000), ('Maria', 1998)]

In [11]:
#Desempacotamento de valores.
def nome_idade_uf():
  nome = "José"
  idade = 28
  uf ='RN'
  return nome, idade, uf

name, age, uf = nome_idade_uf()

print(name, age, uf)

José 28 RN

In [17]:
#Mapeamento de valores
alunos = ('Kelly', 'Adauto', 'Marcelline', 'Luana', 'Henrique')
notas = (5.5, 8, 9, 7.5, 6.5)

Av1 = tuple(zip(alunos, notas))
Av1

(('Kelly', 5.5),
 ('Adauto', 8),
 ('Marcelline', 9),
 ('Luana', 7.5),
 ('Henrique', 6.5))

In [19]:
#Escrever uma função que receba duas tuplas com entrada e retorne uma única tupla que seja a concatenação das duas.
def concatenaTupla (tp1, tp2):
  return tp1 + tp2

a = (2, 4, 5)
b = (6, 8, 12)
concatenaTupla(a, b)

(2, 4, 5, 6, 8, 12)

In [26]:
#Escrever uma função que receba uma tupla contendo o nome e endereço: logradouro, número e bairro de uma pessoa e retorna uma string formatada.
def formatada(tupla):
  nome, logradouro, num, bairro = tupla
  return f'Nome:{nome}, residente a{logradouro}, {num}, {bairro}.'

dadosCliente = ('Manoelina', 'Rua das Couves', '42', 'Torre')

print (formatada(dadosCliente))

Nome:Manoelina, residente aRua das Couves, 42, Torre.

In [ ]:
#Escreva uma função que receba uma lista de tuplas contendo nome e idade de pessoas e retorne a lista ordenada por idade.